acvl-utils>=0.2,<0.3
batchgenerators>=0.25
batchgeneratorsv2>=0.2
connected-components-3d
dicom2nifti
dynamic-network-architectures==0.4.2
einops
graphviz
huggingface-hub
imagecodecs
matplotlib
nibabel
pandas
scikit-image
scikit-learn
scipy
seaborn
SimpleITK
tifffile
timm
tqdm
yacs
